#cloud-config
# https://cloudinit.readthedocs.io/en/latest/topics/format.html #
users:
  - default

disable_root: false
ssh_pwauth: true

# mount_default_fields
# These values are used to fill in any entries in 'mounts' that are not
# complete.  This must be an array, and must have 6 fields.
mount_default_fields: [ None, None, "auto", "defaults,nofail", "0", "2" ]

# Unlock the default user
chpasswd:
  list: |
    root:root
    {{ item.os_type }}:{{ item.os_type }}
  expire: false
# System settings
resize_rootfs: true
packages:
  - socat
  - net-tools
  - conntrack
  - lsof
  - wireshark
{% if item.os_type in ['debian', 'ubuntu'] %}
  - dnsutils
  - bridge-utils
  - tshark
  - python3-minimal
  - open-iscsi
{% if allow_virt %}
  - python3-pip
  - pkg-config
  - libvirt-dev
  - libvirt-daemon-system
{% endif %}
{% elif item.os_type == 'centos' %}
  - python3
#  - tc (not found on Rocky)
  - ebtables
  - iscsi-initiator-utils
{% if qemu_guest_agent_enabled %}
  - qemu-guest-agent
{% endif %}
{% endif %}
{# disk_setup: #}
{# {% for disk in item.disks %} #}
{# {% if disk.mount_path is defined %} #}
{#   /dev/{{ disk.device }}: #}
{#     table_type: 'mbr' #}
{#     layout: true #}
{#     overwrite: true #}
{# {% endif %} #}
{# {% endfor %} #}
#setup the file system on the device
{% if item.disks is defined and
      item.disks | selectattr('mount_path','defined') | list | length > 0 %}
fs_setup:
{% for disk in item.disks %}
{% if disk.mount_path is defined %}
  - label: '{{ disk.name }}'
    filesystem: '{{ disk.format }}'
    device: /dev/{{ disk.device }}
    partition: 'auto'
    overwrite: true
{% endif %}
{% endfor %}
{% endif %}
bootcmd:
  - [ sh, -c, echo "=========bootcmd=========" ]
  - if grep -Gq "^\s*UseDNS" /etc/ssh/sshd_config; then sed -re "s/^\s*(UseDNS)\s+(yes|no)/\1 no/" -i.$(date -u +%Y%m%d%H%M%S) /etc/ssh/sshd_config; else echo "UseDNS no" >> /etc/ssh/sshd_config; fi
write_files:
{% if rename_net_interface | bool %}
 - content: |
{% for intf in item.interfaces %}
    SUBSYSTEM=="net", ACTION=="add", DRIVERS=="?*", ATTR{address}=="{{ intf.mac }}", NAME="{{ intf.name | regex_replace('(.*)-br$', '\\1') }}"
{% endfor %}
   path: /etc/udev/rules.d/70-persistent-net.rules
   owner: root:root
   permissions: '0644'
{% endif %}
{% if item.os_type in ['debian', 'ubuntu'] %}
 - content: |
     XKBMODEL="pc105"
     XKBLAYOUT="fr"
     XKBVARIANT=""
     XKBOPTIONS=""
     BACKSPACE="guess"
   path: /etc/default/keyboard
   owner: root:root
   permissions: '0644'
{% endif %}
{% if item.disks is defined and
      item.disks | selectattr('mount_path','defined') | list | length > 0 %}
mounts:
{% for disk in item.disks %}
{% if disk.mount_path is defined %}
  - [ "/dev/{{ disk.device }}", "{{ disk.mount_path }}" ]
{% endif %}
{% endfor %}
{% endif %}
timezone: {{ guest_timezone | default(virt_infra_timezone) }}
runcmd:
  - [ sh, -c, echo "=========runcmd=========" ]
{# {% for disk in item.disks %} #}
{# {% if disk.mount_path is defined %} #}
{#   - mkdir {{ disk.mount_path }} #}
{# {% endif %} #}
{# {% endfor %} #}
#  - systemctl disable NetworkManager --now
  - systemctl restart sshd
{% if allow_virt %}
  - pip3 install ansible==2.9.13 libvirt-python netaddr
{% endif %}
{% if item.os_type in ['debian', 'ubuntu'] %}
  - DEBIAN_FRONTEND=noninteractive apt-get install -y open-iscsi
  - DEBIAN_FRONTEND=noninteractive apt-get install -y console-data
{% endif %}
{% if item.os_type in ['centos'] %}
  - localectl set-keymap fr
  - head -n1 /etc/redhat-release | awk '{print $4}' > /etc/yum/vars/releasever
{% endif %}
  - systemctl enable --now iscsid
{% if debug_tools %}
  - curl -s https://s3.amazonaws.com/download.draios.com/stable/install-sysdig | sudo bash
{% endif %}

# To know when to log in, if reading console
final_message: "SYSTEM READY TO LOG IN"

# Set the default user
system_info:
  default_user:
    name: {{ item.os_type }}
