{
  "storage-driver": "overlay2",
{# {% if docker_daemon_mtu %} #}
{#   "mtu": {{ docker_daemon_mtu }}, #}
{# {% endif %} #}
  "storage-opts": [
{% if ansible_distribution|lower == "centos" %}
    "overlay2.override_kernel_check=true"
{% endif %}
  ]
}
