#jinja2: lstrip_blocks: True
<domain type='kvm'{% if item.os_type in ['fcos', 'flatcar'] %} xmlns:qemu='http://libvirt.org/schemas/domain/qemu/1.0'{% endif %}>
  <name>{{ group }}{{ item.name }}</name>
  <metadata>
    <aio:instance xmlns:aio='https://github.com/blallau/ansible-aio'>
      <aio:inventory group='{{ group }}' role='{{ item.role }}' distro='{{ item.os_type }}'/>
    </aio:instance>
  </metadata>
  {% if item.os_type in ['fcos', 'flatcar'] %}
  <qemu:commandline>
    <qemu:arg value='-fw_cfg'/>
    <qemu:arg value='name=opt/org.flatcar-linux/config,file={{ tmp_dir }}/{{ group }}/{{ item.name }}/config.ign'/>
  </qemu:commandline>
  {% endif %}
  <memory unit='GiB'>{{ item.ram }}</memory>
  <vcpu placement='static'>{{ item.vcpu }}</vcpu>
  <resource>
    <partition>/machine</partition>
  </resource>
  <os>
    <type arch='x86_64' machine='pc-q35-4.2'>hvm</type>
  </os>
  <features>
    <acpi/>
    <apic/>
  </features>
  <cpu mode='host-passthrough' match='exact'>
    <feature policy='require' name='vmx'/>
  </cpu>
  <clock offset='variable' adjustment='0' basis='utc'>
    <timer name='rtc' tickpolicy='catchup'/>
    <timer name='pit' tickpolicy='delay'/>
    <timer name='hpet' present='no'/>
  </clock>
  <on_poweroff>destroy</on_poweroff>
  <on_reboot>restart</on_reboot>
  <on_crash>destroy</on_crash>
  <pm>
    <suspend-to-mem enabled='no'/>
    <suspend-to-disk enabled='no'/>
  </pm>
  <devices>
    <emulator>{% if ansible_distribution|lower == 'centos' %}/usr/libexec/qemu-kvm{% elif ansible_distribution|lower == 'ubuntu' %}/usr/bin/qemu-system-x86_64{% endif %}</emulator>
    {% if qemu_guest_agent_enabled %}
    <channel type='unix'>
      <target type='virtio' name='org.qemu.guest_agent.0'/>
    </channel>
    {% endif %}
    <disk type='file' device='disk'>
      <driver name='qemu' type='qcow2' cache='none' io='native'/>
      <source file='{{ libvirt_dir }}/{{ group }}/{{ item.name }}-boot.qcow2'/>
      <backingStore/>
      <target dev='vda' bus='virtio'/>
      <boot order='1'/>
    </disk>
    {% if item.os_type != 'fcos' and item.os_type != 'flatcar' %}
    <disk type='file' device='disk'>
      <driver name='qemu' type='raw'/>
      <source file='{{ tmp_dir }}/{{ group }}/{{ item.name }}/seed.img'/>
      <backingStore/>
      <target dev='{{ cloud_init_disk }}' bus='virtio'/>
      <boot order='2'/>
      <readonly/>
    </disk>
    {% for disk in item.disks %}
    {% if disk.type == 'raw' %}
    <disk type='block' device='disk'>
      <driver name='qemu' type='raw' cache='none' io='native'/>
      <source dev='/dev/{{ virt_volume_group }}/{{ disk.name }}'/>
      <target dev='{{ disk.device }}' bus='virtio'/>
    </disk>
    {% elif disk.type == 'qcow2' %}
    <disk type='file' device='disk'>
      <driver name='qemu' type='qcow2'/>
      <source file='{{ tmp_dir }}/{{ group }}/{{ item.name }}/{{ disk.name }}.qcow2'/>
      <target dev='{{ disk.device }}' bus='virtio'/>
    </disk>
    {% endif %}
    {% endfor %}
    {% endif %}
    <controller type='virtio-serial' index='0'/>
    {% for intf in item.interfaces %}
    <interface type='bridge'>
      <source bridge='{{ intf.bridge }}'/>
      <target dev='vnet{{ loop.index }}'/>
      {% if intf.mac is defined %}
      <mac address='{{ intf.mac }}'/>
      {% endif %}
      <model type='virtio'/>
      <mtu size='{{ libvirt_default_mtu }}'/>
      <driver name='vhost' queues='1'/>
    </interface>
    {% endfor %}
    <serial type='pty'>
      <source path='/dev/pts/1'/>
      <target port='0'/>
    </serial>
    {# <console type='pty' tty='/dev/pts/1'> #}
    {#   <source path='/dev/pts/1'/> #}
    {#   <target type='serial' port='0'/> #}
    {# </console> #}
    <console type='pty'>
      <log file='{{ tmp_dir }}/{{ item.name }}/console.log' append='off'/>
      <target type='serial' port='0'/>
    </console>
    <input type='keyboard' bus='ps2'/>
    <graphics type='vnc' port='5900' autoport='yes' listen='0.0.0.0'>
      <listen type='address' address='0.0.0.0'/>
    </graphics>
    <memballoon model='virtio'>
      <alias name='balloon0'/>
    </memballoon>
    <rng model='virtio'>
      <alias name='rng0'/>
      <backend model='random'>/dev/urandom</backend>
    </rng>
    {% if item.gpu_passthrough is defined and item.gpu_passthrough %}
    <hostdev mode="subsystem" type="pci" managed="yes">
      <source>
        <address domain="0" bus="1" slot="0" function="0"/>
      </source>
    </hostdev>
    {% endif %}
  </devices>
</domain>
