---
{% if item.os_type == 'fcos' %}
variant: fcos
version: 1.1.0
{% endif %}
passwd:
  users:
    - name: core
      ssh_authorized_keys:
        - {{ lookup('file', '~/.ssh/id_rsa.pub') }}
{% if item.os_type == 'flatcar' %}
locksmith:
  reboot_strategy: "reboot"
update:
  server: http://{{ flatcar_update_server_ip }}:{{ flatcar_update_server_port }}/v1/update/
{% endif %}
systemd:
  units:
    - name: serial-getty@ttyS0.service
      dropins:
        - name: autologin-core.conf
          contents: |
            [Service]
            # Override Execstart in main unit
            ExecStart=
            # Add new Execstart with `-` prefix to ignore failure
            ExecStart=-/usr/sbin/agetty --autologin core --noclear %I $TERM
            TTYVTDisallocate=no
    - name: tmp.mount
      dropins:
        - name: options.conf
          contents: |
            [Mount]
            What=tmpfs
            Where=/tmp
            Type=tmpfs
            # Increase tmp size from 50% to 80%
            Options=mode=1777,strictatime,nosuid,nodev,size=80%,nr_inodes=400k
    # Mask Docker service
    - name: docker.service
      mask: true
storage:
  files:
    - path: /etc/selinux/config
      mode: 0664
      overwrite: true
      contents:
        inline: data:text/plain;charset=iso-8859-7,SELINUX%3Ddisabled%0ASELINUXTYPE%3Dtargeted%0A
    - path: /etc/modules-load.d/80-k8s.conf
      mode: 0644
      contents:
        inline: |
          br_netfilter
    - path: /etc/sysctl.d/99-kubernetes-cri.conf
      mode: 0644
      contents:
        inline: |
          net.ipv4.ip_forward = 1
          net.bridge.bridge-nf-call-iptables = 1
          net.bridge.bridge-nf-call-ip6tables = 1
    - path: /etc/sysctl.d/98-kubernetes-cis.conf
      mode: 0644
      contents:
        inline: |
          kernel.panic = 10
          kernel.panic_on_oops = 1
    - path: /etc/hostname
      filesystem: "root"
      mode: 0644
      contents:
        inline: |
          {{ item.name }}
    - path: /etc/profile.d/systemd-pager.sh
      mode: 0644
      contents:
        inline: |
          # Tell systemd to not use a pager when printing information
          export SYSTEMD_PAGER=cat
{% if item.os_type == 'flatcar' %}
    - path: /home/core/.toolboxrc
      mode: 0644
      contents:
        inline: |
          TOOLBOX_DOCKER_IMAGE=ubuntu
          TOOLBOX_DOCKER_TAG=20.04
{% endif %}
    - path: /etc/sysctl.d/20-silence-audit.conf
      mode: 0644
      contents:
        inline: |
          # Raise console message logging level from DEBUG (7) to WARNING (4)
          # to hide audit messages from the interactive console
          kernel.printk = 4
{% if item.os_type == 'fcos' %}
{% for intf in item.interfaces %}
    - path: /etc/NetworkManager/system-connections/{{ intf.name }}.nmconnection
      mode: 0600
      overwrite: true
      contents:
        inline: |
          [connection]
          type=ethernet
          id={{ intf.name }}
          interface-name={{ intf.name }}

          [ethernet]
          mac-address={{ intf.mac }}

          [ipv4]
          may-fail=false
{% if intf.mode == 'dhcp' %}
          method=auto
{% elif intf.mode == 'static' %}
          method=manual
          addresses={{ intf.address }}/{{ intf.cidr.split("/")[1] }}
{% if intf.external is defined and intf.external %}
          dns={{ host_ip }}
          dns-search={{ dns_domain }}
{% endif %}
{% endif %}
{% endfor %}
{% elif item.os_type == 'flatcar' %}
{% for intf in item.interfaces %}
networkd:
  units:
    - name: 10-{{ intf.name }}.network
      contents: |
        [Match]
        Name={{ intf.name }}

        [Network]
{% if intf.mode == 'dhcp' %}
        DHCP=yes
{% elif intf.mode == 'static' %}
        Address={{ intf.address }}/{{ intf.cidr.split("/")[1] }}
        Gateway={{ host_ip }}
        DNS={{ host_ip }}
{% endif %}
{% endfor %}
{% endif %}
