instance-id: {{ item.name }}
local-hostname: {{ item.name }}
public-keys:
  - "{{ lookup('file', '~/.ssh/id_rsa.pub') }}"
{% if guest_os_distro == 'centos' or guest_os_distro == 'ubuntu' %}
network-interfaces: |
{% for intf in item.interfaces %}
  auto {{ intf.name }}
  iface {{ intf.name }} inet {{ intf.mode }}
{% if intf.mode == 'static' %}
  address {{ intf.address }}
{% endif %}
{% if intf.netmask is defined %}
  netmask {{ intf.netmask }}
{% endif %}
  dns-nameservers {{ host_ip }}
  dns-search {{ dns_domain }}
{% endfor %}
{% endif %}
{# To investiguate: not working #}
{# {% if intf.dnsnameservers is defined %} #}
{#   dns-nameservers {{ intf.dnsnameservers }} #}
{# {% if intf.dnssearch is defined %} #}
{#   dns-search {{ intf.dnssearch }} #}
{# {% endif %} #}
{# {% endif %} #}
{# {% if intf.gateway is defined %} #}
{#   gateway {{ intf.gateway }} #}
{# {% endif %} #}
