{% set ip = item.cidr | ipaddr('1') | ipaddr('address') %}
{% set netmask = item.cidr | ipaddr('netmask') %}

<network>
  <name>{{ item.name }}</name>
  <bridge name='{{ item.bridge }}' stp='on' delay='0'/>
  <mac address='52:54:00:2c:fa:63'/>
  <domain name='{{ item.domain }}' localOnly='yes'/>
  <dns enable='no'/>
  {# <dns> #}
  {#   <forwarder domain='{{ item.domain }}'/> #}
  {#   {% for node in cluster_nodes %} #}
  {#   <host ip='{{ node.interfaces | selectattr('role', 'equalto', 'mgmt') | map(attribute='address') | join }}'> #}
  {#     <hostname>{{ node.name }}</hostname> #}
  {#   </host> #}
  {#   {% endfor %} #}
  {# </dns> #}
  <ip address='{{ ip }}' netmask='{{ netmask }}'/>
</network>
