{% set mac_prefix = "52:54:00:33" %}
---
{% for master in range(master_nb) %}
- name: "{{ node_prefix }}master{{ master }}"
  ram: {{ master_ram }}
  vcpu: {{ master_cpu }}
  role: master
  interfaces:
{% set outer_master_loop = loop %}
{% for intf in host_interfaces %}
{% if vm_os_distro == 'centos' %}
{% set intf_nb = loop.index - 1 %}
    - name: "eth{{ intf_nb }}"
{% elif vm_os_distro == 'ubuntu' %}
{% set intf_nb = loop.index + 1 %}
    - name: "ens{{ intf_nb }}"
{% endif %}
      bridge: "{{ intf.bridge }}"
      role: "{{ intf.role }}"
      mode: "{{ intf.mode }}"
      cidr: "{{ intf.cidr }}"
{% set ip = 200 + outer_master_loop.index * 10 + loop.index %}
      address: "{{ intf.cidr | ipaddr(ip) | ipaddr('address') }}"
{% if intf.mode == 'dhcp' %}
      mac: "{{ mac_prefix }}:2{{ outer_master_loop.index }}:0{{ loop.index }}"
{% elif intf.mode == 'static' %}
      netmask: "{{ intf.cidr | ipaddr('netmask') }}"
{% endif %}
{% endfor %}
{% endfor %}
{% for worker in range(worker_nb) %}
- name: "{{ node_prefix }}node{{ worker }}"
  ram: {{ worker_ram }}
  vcpu: {{ worker_cpu }}
  role: worker
  interfaces:
{% set outer_worker_loop = loop %}
{% for intf in host_interfaces %}
{% if vm_os_distro == 'centos' %}
{% set intf_nb = loop.index - 1 %}
    - name: "eth{{ intf_nb }}"
{% elif vm_os_distro == 'ubuntu' %}
{% set intf_nb = loop.index + 1 %}
    - name: "ens{{ intf_nb }}"
{% endif %}
      bridge: "{{ intf.bridge }}"
      role: "{{ intf.role }}"
      mode: "{{ intf.mode }}"
      cidr: "{{ intf.cidr }}"
{% set ip = 100 + outer_worker_loop.index * 10 + loop.index %}
      address: "{{ intf.cidr | ipaddr(ip) | ipaddr('address') }}"
{% if intf.mode == 'dhcp' %}
      mac: "{{ mac_prefix }}:1{{ outer_worker_loop.index }}:0{{ loop.index }}"
{% elif intf.mode == 'static' %}
      netmask: "{{ intf.cidr | ipaddr('netmask') }}"
{% endif %}
{% endfor %}
{% endfor %}
