{% set lettres = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'] %}
{% macro disk_device(index) -%}
{% set device = lettres[index | int] -%}
{{ device }}
{%- endmacro %}
---
{% for node in nodes %}

{% set os_type = node.os_type %}
{% if os_type in ['centos'] %}
{% set mac_prefix = "52:54:00:32" %}
{% elif os_type in ['ubuntu', 'debian'] %}
{% set mac_prefix = "52:54:00:33" %}
{% endif %}

- name: "{{ node_prefix }}{{ node.name }}"
  ram: {{ node.ram }}
  vcpu: {{ node.cpu }}
  role: {{ node.type }}
  image: {{ vm_os_images[os_type] }}
  os_type: {{ os_type }}
{% if vbmc | bool %}
  vbmc_port: {{ vbmc_port + loop.index }}
{% endif %}

{% if node.net_intfs is defined and node.net_intfs|length > 0 %}
  interfaces:
{% set node_loop = loop %}

{% for intf in node.net_intfs %}

{% if os_type in ['centos', 'debian'] %}
{% set intf_nb = loop.index0 %}
    - name: "eth{{ intf_nb }}"
{% elif os_type == 'previous_ubuntu' %}
{% set intf_nb = loop.index + 1 %}
    - name: "ens{{ intf_nb }}"
{% elif os_type in ['fcos', 'flatcar', 'ubuntu'] %}
{% set intf_nb = loop.index0 %}
    - name: "enp1s{{ intf_nb }}"
{% endif %}

{% set intf_loop = loop %}

{% for network in networks if network.name == intf.name %}
{% set net = network %}  
{% if net.forward is defined and net.forward == 'nat' %}  
      external: True  
{% endif %}  
      bridge: "{{ net.name }}"  
      mode: "{{ net.mode }}"  
{% set ip = 10 + node_loop.index %}  
      address: "{{ net.cidr | ipaddr(ip) | ipaddr('address') }}"  
      mac: "{{ mac_prefix }}:1{{ node_loop.index }}:0{{ intf_loop.index }}"  
{% if net.mode == 'static' %}  
      netmask: "{{ net.cidr | ipaddr('netmask') }}"  
{% endif %}  
  
{% endfor %} 

{% endfor %}

{% else %}
  interfaces: []
{% endif %}

{% if node.disks is defined and node.disks|length > 0 %}
  disks:
{% for disk in node.disks %}
{% set device = disk_device(loop.index) %}
    - name: "vol-{{ node_prefix }}{{ node.name }}-{{ loop.index }}"
      device: "vd{{ device }}"
      size: {{ disk.size }}
      type: {{ disk.type | default('qcow2') }}
{% if disk.format is defined %}
      format: {{ disk.type | default('ext4') }}
{% endif %}
{% if disk.mount_path is defined %}
      mount_path: {{ disk.mount_path }}
{% endif %}
{% endfor %}
{% else %}
  disks: []
{% endif %}
{% endfor %}

...
