#cloud-config
# https://cloudinit.readthedocs.io/en/latest/topics/format.html #
disable_root: False
users:
  - default
chpasswd:
  list: |
    root:root
    {{ os_default_user }}:{{ os_default_user }}
  expire: False
ssh_pwauth: True
packages:
  - dnsutils
  - bridge-utils
  - tshark
  - curl
  - rsync
  - openssh-server
{% if guest_os_distro == 'debian' or guest_os_distro == 'ubuntu' %}
  - python3-minimal
{% if allow_virt %}
  - python3-pip
  - pkg-config
  - libvirt-dev
  - libvirt-daemon-system
{% endif %}
{% elif guest_os_distro == 'centos' %}
  - python3
{% endif %}
bootcmd:
  - if grep -Gq "^\s*UseDNS" /etc/ssh/sshd_config; then sed -re "s/^\s*(UseDNS)\s+(yes|no)/\1 no/" -i.$(date -u +%Y%m%d%H%M%S) /etc/ssh/sshd_config; else echo "UseDNS no" >> /etc/ssh/sshd_config; fi
runcmd:
  - systemctl restart sshd &
{% if allow_virt %}
  - pip3 install ansible==2.9.13 libvirt-python netaddr
{% endif %}
{% if guest_os_distro == 'debian' or guest_os_distro == 'ubuntu' %}
  - DEBIAN_FRONTEND=noninteractive apt-get install -y keyboard-configuration console-setup
{% endif %}
{% if guest_os_distro == 'debian' or guest_os_distro == 'ubuntu' %}
write_files:
- content: |
    XKBMODEL="pc105"
    XKBLAYOUT="fr"
    XKBVARIANT=""
    XKBOPTIONS=""
    BACKSPACE="guess"
  path: /etc/default/keyboard
  owner: root:root
  permissions: '0644'
{% endif %}
