#cloud-config
ssh_pwauth: True
chpasswd:
  list: |
     root:root
     {# {{ os_default_user }}:{{ os_default_user }} #}
  expire: False
ssh_authorized_keys:
  - "{{ lookup('file', '~/.ssh/id_rsa.pub') }}"
