{# https://cloudinit.readthedocs.io/en/latest/topics/network-config-format-v1.html #}
version: 1
config:
{% for intf in item.interfaces %}
- type: physical
  name: {{ intf.name }}
  mac_address: {{ intf.mac }}
  subnets:
{% if intf.mode == 'dhcp' %}
  - type: dhcp
    ipv4: true
{% elif intf.mode == 'static' %}
  - type: static
    ipv4: true
    address: {{ intf.address }}
    dns_nameservers:
      - {{ host_ip }}
    dns-search:
      - {{ dns_domain }}
{% endif %}
{% endfor %}
